<p>Olá {{fullName}},</p>
<p>Para escolher uma nova senha clique no link abaixo</p>
<p>
  <a href='{{token}}'>Resetar senha</a>
</p>

<p>Se você não pediu para resetar sua senha, entre em contato com o suporte.</p>